
a {
  text-decoration: none;
  color: black;
  background-color: transparent;
  display: block;
  padding: 0.5rem 1rem;
}

.contact-text {
  color: white;
}

.list-group-item {
  text-align: center;
}

.nav-item > a:hover {
  color: #0f5f53
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav {
  padding-right: 0;
  padding-left: 0;
}


.welcome-text {
  text-align: center;
  font-size: xx-large;
}

.welcome-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

a.contact-link.nav-link {
  color: black;
}

.bio-header {
  text-align: center;
}

.bio-text {
  font-size: large;
}
 .name-header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
 }
